@import '../../../variables';

.sprawlSideNavContainer{
  background-image: url('../../../public/images/splashImages/sprawl_menu_splash.jpg');
  background-size:cover;
  background-position: top left;
  height: 100vh;

  
  perspective: 1000px;
  perspective-origin: 50% 50%;

  animation: brightLights 10s ease-in-out infinite;
}


@keyframes brightLights {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.6);
  }
  100% {
    filter: brightness(1);
  }
}
// Splash Image Optimisation
@media (min-width: 1200px) and (max-width: 1800px) {
  // LARGE - 1200 width Image
  .sprawlSideNavContainer{
    background-image: url('../../../public/images/splashImages/sprawl_menu_splash_700.jpg');
  }
}
@media (max-width: 1199px) {
  // MEDIUM - 900 width Image
  .sprawlSideNavContainer{
    background-image: url('../../../public/images/splashImages/sprawl_menu_splash_500.jpg');
  }
}


