@import '../../../../variables';

// Applies to all
.menuItem{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  list-style-type: none;
  cursor: pointer;
}

// THEMES
// Art Deco Theme
.artdeco_menuItem{    
  composes:menuItem;
  border: 10px solid transparent;
  border-image-source: url('../../artDecoSideNav/menuItemBorderTile.png');
  border-image-slice: 33.33333333% fill;
  margin-bottom: 8px;
  font-size:28px;
  text-align: center;
  font-family: 'Marquisette';
  font-weight: bold;
  letter-spacing: 1px;
  filter: brightness(0.7);

  &:hover{
    filter:none;
  }

  > a{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    padding:12px;
    margin:-10px;

    text-decoration: none;
    color: gold;
  }
}
.artdeco_menuItem_active {
  filter:none;
}

// Original Theme
.original_menuItem{
  z-index: 90;

  &:first-of-type{
    padding-top:2rem;
  }

  a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &:visited,
    &:link{
      color:black;
      text-decoration: none;
    }

    .iconContainer{    
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
  
      margin: 0.5rem 0 0.5rem 2rem;
      width: 3rem;
      height: 3rem;
      border-radius:50%;
      border: 0.2rem solid black;
      
      background-color: rgba(0,0,0,1);
      box-shadow:  0 0 0 0 gold, 0 0 0 0 #000;
      transition: background-color 0.2s linear,  box-shadow 0.2s linear;
  
      svg{
        fill: gold;
        transition: fill 0.2s linear;
      }
    }

    .label{
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      font-family: 'ITCFranklinGothicStd-BkCd';
      font-weight: normal;
      font-style: normal;
      font-size: 2rem;
      padding-left:0.5rem;
    }
  }
}
.original_menuItem_active{
  a {
    .iconContainer{
      background-color: rgba(255, 255, 255,1);
      box-shadow:  0 0 0 0.15rem rgb(255, 215, 0), 0 0 0 0.3rem #000;
      
      svg{
        fill: black;
        transition: fill 0.2s linear;
      }
    }
    .label{
      text-decoration: underline;
    }
  } 
}


// SantaCruz Theme
.santaCruz_menuItem{
  list-style-type: none;
  text-align: center;

  &:nth-of-type(1){
    grid-area: menu1;
  }
  &:nth-of-type(2){
    grid-area: menu2;
  }
  &:nth-of-type(3){
    grid-area: menu3;
  }
  &:nth-of-type(4){
    grid-area: menu4;
  }
  &:nth-of-type(5){
    grid-area: menu5;
  }

  > a {
    font-family: 'Poppins';
    font-weight: bold;
    color: $sc_red;
    text-decoration: none;
    
    &:visited,
    &:active,
    &:link{
      color: $sc_red;
    }
    &:hover{
      color: $sc_yellow;

      .iconContainer{
        svg{
          fill: $sc_yellow;
        }
      }
    }
  }

  .iconContainer{
    svg {
      width: 60%;
      fill: $sc_red;
    }
  }
}
.santaCruz_menuItem_active{
  .label{
    text-decoration: underline;
    color: $sc_yellow;
  }

  .iconContainer{

    svg {
      fill: $sc_yellow;
    }
  }
}

// Sprawl Theme
.sprawl_menuItem{

  margin-bottom:0.2rem;
  background: $sp_pink_dark;

  &:nth-of-type(1){
    grid-area: menu1;
  }
  &:nth-of-type(2){
    grid-area: menu2;
  }
  &:nth-of-type(3){
    grid-area: menu3;
  }
  &:nth-of-type(4){
    grid-area: menu4;
  }
  &:nth-of-type(5){
    grid-area: menu5;
  }

  a{
    padding:1.6rem;
    display: flex;
        
    &:visited,
    &:active,
    &:link{
      text-decoration: none;
    }

    .label{
      color: $white;
      // font-size: 2.6rem;
      font-size: 1.3vw;
      font-family: 'AdvancedDotDigital-7';  
      text-transform: uppercase;
      text-shadow: -0.4rem 0.2rem 0.1rem rgba($slate, 0.8);
      // padding:1rem;
      // transform-style: preserve-3d;
      // transform:translateZ(50rem)
    }

  }
}
.sprawl_menuItem_active{
  background: $sp_pink;
}

// Haas Theme
.haas_menuItem{

  margin-bottom:0.2rem;
  // background: $slate;

  &:nth-of-type(1){
    grid-area: menu1;
  }
  &:nth-of-type(2){
    grid-area: menu2;
  }
  &:nth-of-type(3){
    grid-area: menu3;
  }
  &:nth-of-type(4){
    grid-area: menu4;
  }
  &:nth-of-type(5){
    grid-area: menu5;
  }

  a{
    padding:0.6rem 4rem 0.6rem 1rem;
    display: flex;
        
    &:visited,
    &:active,
    &:link{
      text-decoration: none;
    }

    .label{
      color: $slate;
      // font-size: 2.6rem;
      font-size: 2.3rem;
      font-family: 'HelveticaNeueLTStd-Bd'; 
      // padding:1rem;
      // transform-style: preserve-3d;
      // transform:translateZ(50rem)
    }

  }
}
.haas_menuItem_active{
  box-shadow: inset 0.5rem 0 0 red;
}


@media screen and (max-width: 900px){
  .sprawl_menuItem{
    a{
      .label{
        font-size: 1.2rem;
        text-shadow:none;
      }
    }
  }
}

