@import '../../../variables';

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height:100%;
}
.glitchText{
  font-size: 10rem;
  animation: glitchFour 1s linear infinite;
  
  &:before,
  &:after{
    position: absolute;
    left:0;
    content: attr(title);
  }

  &:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  &:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);
  }
}

@keyframes glitchFour{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}


.pageNotFound{
  font-weight: bold;
  margin-bottom:4rem;
}

.linkText{
  a{
    color:black;
    
    &:visted,
    &:active,
    &:link{
      color:black;
    }
  }
}