@import '../../../variables';

.viewContainer{
  position: relative;
  display:inline-block;
  width:100%;
  min-height: 100vh;
  height: auto;
}

.downloadButton {
  position: fixed !important;
  top:2rem;
  right:2rem;
  z-index: 1000;
}

.pageWrapper{
  position: relative;
  max-width:calc(100% - 2rem);
  padding-bottom:141.4%;
  border: 1px solid black;
  margin:2vw;
  z-index: 900;
}
.pageContent{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: white;
  overflow: hidden;
  padding:2vw 4vw;

  .headerInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .leftCol{
      order: 0;
      flex: 1 1 auto;
      align-self: auto;

      > p{
        margin: 0.4vw 0;
      }
    }
    .rightCol{
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      text-align: right;
      
      > p{
        margin: 0.4vw 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin:0.4vw 0;
  }

  .center{
    text-align: center;
  }

  h1{
    font-size:2.2vw;
  }
  h2{
    font-size:1.3vw;
    margin-top:1.6vw;
    margin-bottom:0.5vw;
    text-decoration: underline;
  }
  h3{
    font-size:1.6vw;
  }
  h4{
    font-size:1.2vw;
  }
  h5{
    font-size:1vw;
  }
  h6{
    font-size:0.7vw;
  }
  p, ul{
    font-size: 1vw;
    margin: 1vw 0;
  }
  ul{
    margin-top: 0.3vw;
    padding-left:2vw;
  }
}


.theme_artDeco{
  background:gold;
}
.theme_original{
  background:$slate;
}
.theme_original{
  background:$slate;
}
.theme_santaCruz{
  background:$sc_red;
}
.theme_sprawl{
  background:$sp_blue_dark;
  .pageWrapper{
    box-shadow: 0 0 3rem $sp_pink, 0 0 0.5rem $sp_pink;
  }
}
.theme_haas{
  background:$slate;
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeueLTStd-Bd';
    strong{
      font-family: 'HelveticaNeueLTStd-Bd';
    }
  }
  p, li{
    font-family: 'HelveticaNeueLTStd-Roman';
  }
}

@media screen and (max-width: 900px){

  .pageContent{
    padding:3vw 6vw;

    h1, h2, h3, h4, h5, h6 {
      margin:0.6vw 0;
    }
  
    .center{
      text-align: center;
    }
  
    h1{
      font-size:3.6vw;
    }
    h2{
      font-size:1.9vw;
      margin-top:1.6vw;
      margin-bottom:0.5vw;
      text-decoration: underline;
    }
    h3{
      font-size:2.4vw;
    }
    h4{
      font-size:2.1vw;
    }
    h5{
      font-size:1.8vw;
    }
    h6{
      font-size:1.5vw;
    }
    p, ul{
      font-size: 1.8vw;
      margin: 1vw 0;
    }
    ul{
      margin-top: 0.5vw;
      padding-left:3vw;
    }
  }
}