@import '../../../variables';

.menuList{
  margin:0;
  padding:0;
}

.theme_santaCruz{
  // display:inline-flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-content: flex-start;
  // align-items: flex-start;
  
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0 2rem;
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "menu1 menu2 menu3 menu4 menu5"
  "submenu submenu submenu submenu submenu";
}

.theme_sprawl{
  display:grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "menu1 submenu"
  "menu2 submenu"
  "menu3 submenu"
  "menu4 submenu"
  "menu5 submenu";
  list-style-type: none;
  height:auto;
  position: relative;
  transform-style: preserve-3d;
  // transform: rotateX(5deg) rotateY(36deg) rotate(6deg) translate(8rem, 12rem);
  transform: rotateX(5deg) rotateY(34deg) rotate(8deg) translate(5vw,12vw);

  // perspective: 1000px;
  // perspective-origin: 50% 50%;
}

.theme_haas{
  // display:grid;
  // grid-template-columns: min-content 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  // grid-template-areas:
  // "menu1 submenu"
  // "menu2 submenu"
  // "menu3 submenu"
  // "menu4 submenu"
  // "menu5 submenu";
  padding:2rem 4rem 3rem 3rem;
  list-style-type: none;
  height:auto;
  position: relative;width: max-content;
}


@media screen and (max-width: 900px){
  .theme_sprawl{
    transform: none;
    margin-left:0.3rem;
    padding-top:0.3rem;
  }
}