@import '../../variables';

.appContainer{
  display: grid;
  grid-template-columns: 38.2% 61.8% ;
  grid-template-rows: 1fr;
  height:100vh;
}
.contentContainer{
  color:$slate;
  box-shadow: inset 0.4rem 0 0.3rem -0.2rem opacify($lightgrey, 0.2);
  min-height: 100vh;
}

.themeToast{
  position: fixed;
  top:-0.6rem;
  right:2rem;
  width: 20rem;
  height:min-content;
  padding:1rem;
  background: $slate;
  color:$white;
  border-radius: 0 0 1rem 1rem;
  border: 0.6rem solid gold;
  z-index: 90;
}
  .dismissButton{
    border-radius: 50%;
    background:$slate;
    color:$white;
    font-weight: bold;
    font-size:2rem;
    color:gold;
    border: 0.2rem solid gold;
    position: absolute;
    bottom:-1.2rem;
    right:-1.2rem;
    cursor: pointer;
    width:3rem;
    height:3rem;
  }

@media screen and (max-width: 900px){
  .appContainer{
    grid-template-columns: 100% ;
  }
}

.theme_haas{
  .contentContainer{
    box-shadow: none;
  }
  
  .themeToast{
    border: 0.6rem solid $greyscale;
  }
  .dismissButton{
    color:$greyscale;
    border: 0.2rem solid $greyscale;
  }
}

.theme_sprawl{  
  .themeToast{
    border: 0.6rem solid $sp_pink;
  }
  .dismissButton{
    color:$greyscale;
    border: 0.2rem solid $sp_pink;
  }
}