@import '../../../variables';

.themeSelector{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.toggleButton{
  position: relative;
  width: 5rem;
  height: 5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor:pointer;
  padding: 0.5rem;
  box-sizing: border-box;
  z-index: 60;
  background: black;
  border:0.3rem solid gold;
}
.optionsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0.3rem;
  height: 3.8rem;
  position: absolute;
  right: 2.3rem;
  width: max-content;
  z-index: 50;
  padding-right: 2.7rem;
  padding-left: 0.3rem;
  border-radius: 2.2rem 0 0 2.2rem;
  background:black;
  border:0.3rem solid gold;

  > * {
    zoom: 0.7;
  }
}
// Colours per Theme

.theme_santaCruz{
  .toggleButton{
    border:0.3rem solid $sc_red;

    > svg{
      fill: $sc_red;
    }
  }
  .optionsContainer{
    border:0.3rem solid $sc_red;
  }
}

.theme_sprawl{
  .toggleButton{
    background:$sp_blue_dark;
    border:0.3rem solid $sp_pink;

    > svg{
      fill: $sp_pink;
    }
  }
  .optionsContainer{
    background:$sp_blue_dark;
    border:0.3rem solid $sp_pink;
  }
}

.theme_haas{
  .toggleButton{
    background:$greyscale;
    border:0.3rem solid $sc_black;

    > svg{
      fill: $sc_black;
    }
  }
  .optionsContainer{
    background:$greyscale;
    border:0.3rem solid $sc_black;
  }
}

@media screen and (min-width: 900px){
  .optionsContainer{
    > * {
      zoom: 0.8;
    }
  }
}
@media screen and (min-width: 1200px){
  .optionsContainer{
    > * {
      zoom: 0.9;
    }
  }
}
@media screen and (min-width: 1800px){
  .optionsContainer{
    
    > * {
      zoom: 1;
    }
  }
}