@font-face {
    font-family: 'Marquisette BTN';
    src: url('MarquisetteBTNBold.woff2') format('woff2'),
        url('MarquisetteBTNBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marquisette BTN';
    src: url('MarquisetteBTNLight.woff2') format('woff2'),
        url('MarquisetteBTNLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marquisette BTN';
    src: url('MarquisetteBTNLightOblique.woff2') format('woff2'),
        url('MarquisetteBTNLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

