
.svgContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  height:100vh;
  // padding: 0rem 4rem;
  background: linear-gradient(
    180deg
    , black, transparent), url('./DecoTile.png');

    >svg{
      max-width: 34rem;
      background: linear-gradient(
    180deg
    , black, transparent);
    }
}


/*  NOTE: This has a scale (px instead of rems) seperate from 
    the rest of the app due to the use of svg/foreignObject */
    .embeddedMenuWrapper{
      margin:0;
      padding:0;
    }
