@font-face {
    font-family: 'ConthraxSb-Regular';
    src: url('ConthraxSb-Regular.woff2') format('woff2'),
        url('ConthraxSb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

