@import '../../variables';

.sideNavContainer{
  position: relative;;
  color: $blue;
  padding-right:5rem;
}

.fixedMenuContainer{
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 38.2vw;
  height:100vh;
}

.menuToggle{
  display:none;
}

@media screen and (max-width: 900px){
  .sideNavContainer{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width:0;
    overflow:hidden;
    padding-right:0;
    transition:width 0.4s linear;
    z-index: 1900;
  }
  .sideNavContainer_open{
    width:30rem;
    max-width:75vw;
  }
  .fixedMenuContainer{
    position: relative;
    width:30rem;
    max-width:75vw
  }
  .menuToggle{
    position: fixed;
    bottom:2rem;
    left:2rem;
    width:5rem;
    height:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2000;
    cursor:pointer;
    padding: 0.5rem;
    box-sizing: border-box;
    background: black;
    border:0.3rem solid gold;
  
    > svg {
      fill: gold;
    }
  }
}


.theme_santaCruz{
  .menuToggle{
    border:0.3rem solid $sc_red;

    > svg {
      fill: $sc_red;
    }
  }
}

.theme_sprawl{
  .menuToggle{
    background:$sp_blue_dark;
    border:0.3rem solid $sp_pink;

    > svg {
      fill: $sp_pink;
    }
  }
}

.theme_haas{
  .menuToggle{
    background:$greyscale;
    border:0.3rem solid $sc_black;

    > svg {
      fill: $sc_black;
    }
  }
}