@font-face {
    font-family: 'AdvancedDotDigital-7';
    src: url('AdvancedDotDigital-7.woff2') format('woff2'),
        url('AdvancedDotDigital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

