@import '../../../variables';

.portfolioItemContainer{
  position: relative;
  padding: 2.5rem 4rem 0 7rem;
  margin: 0;
  min-height: 12rem;

  &:first-of-type{
    .timeline{
      top:5.2rem;
      bottom: -1.25rem;
    }
  }

  &:last-of-type{
    .timeline{
      top: -1.25rem;
      bottom:5rem;
    }
  }

  hr{
    margin-top:3rem;
    border: 0.1rem solid black;
  }
  > p {
    margin:1rem 0;
  }
}
.timelineContainer{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:7rem;
  transform: translateX(-2.9rem);

  .timeline{
    position: absolute;
    top:-1.5rem;
    left:1.375rem;
    width:0.15rem;
    bottom:-1.5rem;
    background:black;
    z-index: 99;
  }

  .toContainer{
    position: absolute;
    top:3.9em;
    left:0;
    right:0;
    height:2.5rem;
    z-index: 90;
  }
  .fromContainer{
    position: absolute;
    bottom:3.5rem;
    left:0;
    right:0;
    height:2.5rem;
    z-index: 90;
  }

  .timelinePointContainer{
    position: absolute;
    top:0;
    left:0;
    height:2.5rem;
    width:3rem;
    background:$white;
    border-radius: 1.25rem 0 0 1.25rem;
    box-shadow: inset 0.3rem 0 0.3rem opacify($lightgrey, 0.2);


    .timelinePoint{
      position: absolute;
      top:0.5rem;
      left:0.7rem;
      width:1.5rem;
      height:1.5rem;
      border-radius:0.75rem;
      background:black;
      box-sizing: border-box;
      border: 0.2rem solid black;
      box-shadow: inset 0 0 0 0.2rem $white;
      z-index: 90;

      &:before{
        display: inline-block;
        content: '';
        position: absolute;
        top:-0.25rem;
        left:0.25rem;
        width:0.6rem;
        height:0.4rem;
        background:$white;
        z-index: 100;
      }

      &:after{
        display: inline-block;
        content: '';
        position: absolute;
        bottom:-0.25rem;
        width:0.6rem;
        height:0.4rem;
        left:0.25rem;
        background:$white;
        z-index: 100;
      }
    }
  }

  .timelineTextContainer{
    position: absolute;
    bottom:0;
    right:0;
    height:2.5rem;
    width:4rem;
    text-align: center;
    background: $white;
    transform: translateX(-0.02rem);

    //timeline line: point-to-month
    &:before{
      display: inline-block;
      content:'';
      position: absolute;
      top:0rem;
      left:-1rem;
      right:1rem;
      height:0.2rem;
      background:black;
      z-index: 1100;
      transform: translateY(1.15rem);
    }

    .fromDateMonth,
    .toDateMonth{
      position: relative;
      display: inline-block;
      background:$slate;
      color:$white;
      border-radius:0.2rem;
      padding: 0.1rem 0.3rem 0 0.3rem;
      z-index: 1200;
      font-size:0.9rem;
      transform: translate(0.8rem, -0.7rem);
      font-family: 'Poppins';
      font-weight: normal;
      letter-spacing: 0.05rem;
    }
    .fromDateYear,
    .toDateYear{
      color: $slate;
      font-size:1.2rem;
      transform: translate(0.8rem, -1.1rem);
      font-family: 'Poppins';
      font-weight: normal;
    }
  }
}

.headingWithIcon{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .heading{
    font-weight: bold;
    font-size:3.4rem;
    text-transform: uppercase;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin:0;
  }
  .iconContainer{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-height: 100%;
    min-width: 25%;
    max-height: 4rem;

    // display:grid;
    // grid-template-columns: 1fr;
    // grid-auto-rows: minmax(1fr, 3rem);
    min-width: 25%;

    > svg + svg{
      // margin:0.3rem 0;
    }
  }
}

.theme_artDeco{
    h4,
    h5{
      font-family: 'Poiret One';
      margin:1rem 0;
      margin-top:2rem;
      font-weight: bold;
    }
    h6 {
      font-family: 'Poiret One';
      margin:2rem 0 0.5rem 0;
      padding-bottom:0.5rem;
      font-weight: bold;
      border-bottom: 2px solid black;
    }
}    
.theme_original{
  h4,
  h5{
    margin:1rem 0;
  }
  h5{
    font-size:2.2rem;
  }
  h6 {
    margin:2rem 0 0.2rem 0;
  }
}  
.theme_santaCruz{
  h4,
  h5{
    margin:1rem 0;
  }
  h5{
    font-size:2.6rem;
  }
  h6 {
    margin:2rem 0 0.2rem 0;
  }
}  
.theme_sprawl{
  h4,
  h5{
    font-family: 'FedraSansStd-Bold';
    margin:1rem 0;
  }
  h5{
    font-family: 'FedraSansCondStd-Light';
    font-size:3.2rem;
  }
  h6 {
    font-family: 'FedraSansCondStd-Light';
    margin:2rem 0 0.2rem 0;
  }
}  
.theme_haas{
  h4,
  h5{
    font-family: 'HelveticaNeueLTStd-Bd';
    margin:1rem 0 1rem 0;
  }
  h5{
    font-family: 'HelveticaNeueLTStd-Roman';
    font-size:2.6rem;
  }
  h6 {
    font-family: 'HelveticaNeueLTStd-Bd';
    margin:1rem 0 0.2rem 0;
  }
  p{
    font-family: 'HelveticaNeueLTStd-Roman';
  }
}  

@media screen and (max-width: 900px){
  
  .portfolioItemContainer{
    position: relative;
    padding: 0 3rem 0 8.5rem;
    margin: 2.5rem 0;
    
    &:first-of-type{
      .timeline{
        top:2.8rem;
      }
    }

    .heading{
      font-size: 2.8rem;
    }
    h5{
      font-size: 1.8rem;
    }
  }

  .timelineContainer{
    transform: translateX(0);

    .toContainer{
      top:1.5rem;

      .timelineTextContainer{
        transform:translateX(-1.12rem)
      }
    }
    .fromContainer{
      .timelineTextContainer{
        transform:translateX(-1.12rem)
      }
    }
    
    .timelinePointContainer{
      box-shadow: none;
    }
  }
}