@font-face {
    font-family: 'FedraSansCondStd-Light';
    src: url('FedraSansCondStd-Light.woff2') format('woff2'),
        url('FedraSansCondStd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

