@font-face {
    font-family: 'FedraSansStd-Bold';
    src: url('FedraSansStd-Bold.woff2') format('woff2'),
        url('FedraSansStd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

