@import '../../../../../variables';

.theme_artDeco_subMenu_open{
  padding:0;
  margin:0;
  max-height: 320px;
  transition: max-height 1s linear;
}
.theme_artDeco_subMenu_closed{
  composes: theme_artDeco_subMenu_open;
  max-height: 0;
  transition: none;
  overflow-y:hidden;
}
.theme_artDeco_subMenuItem_closed{
  display:flex;
  font-family: 'Marquisette';
  font-weight: bold;
  font-size: 23px;
  margin-top:0.3rem;
  border:2px solid gold;
  box-shadow: 0 0 0 2px black;
  list-style-type: none;
  background:black;
  color:gold;
  text-align: center;
  filter: brightness(0.7);
  cursor:pointer;
  transform: perspective(10rem) rotateX(90deg);
  transition: transform 1s linear;
  margin:0 1rem 0.75rem 1rem;

  &:hover{
    filter:none;
  }

  > a {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-decoration: none;
    color: gold;
  }
}
.theme_artDeco_subMenuItem_open{
  composes: theme_artDeco_subMenuItem_closed;
  transform: perspective(10rem) rotateX(0deg);
}
.theme_artDeco_subMenuItemActive{
  filter:none;
}

// Original Theme
.theme_original_subMenu{
  position: absolute;
  top:30%;
  right:4rem;
  bottom:30%;
  left:33%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 50;
}
  .theme_original_subMenu_open{
    composes: theme_original_subMenu;

    &:before{
      display: block;
      content: '';
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background:rgba(128, 0, 128, 0);
    }
  }
  .theme_original_subMenu_closed{
    composes: theme_original_subMenu;
    display:none;
  }

.theme_original_subMenuItem{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  pointer-events: all;
  z-index: 100;
  list-style-type: none;
  // width:33%;
  text-align: left;
  width: 100%;
  padding-left:0.5rem;

  font-family: 'ITCFranklinGothicStd-DmCp';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  margin:0.4rem 0;

  transition-delay: 0;

  >a {

    &:visited,
    &:link{
      color:black;
      text-decoration: none;
    }
  }
}
  .theme_original_subMenuItem_open{
    composes: theme_original_subMenuItem;
  }
  .theme_original_subMenuItem_closed{
    composes: theme_original_subMenuItem;
  }
  .theme_original_subMenuItemActive{
    box-shadow: -0.5rem 0 0 black;
  }

// Theme SantaCruz
.theme_santaCruz_subMenu{
  //flex
  // order:10;
  // width: 100%;

  //abs
  // position: absolute;
  // top:60%;
  // left:0;
  // right: 0;
  // text-align: center;
  padding:0;
  margin:0;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-area: submenu;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  margin-top:2rem;
  list-style-type: none;
}
  .theme_santaCruz_subMenu_open{
    composes:theme_santaCruz_subMenu;
  }
  .theme_santaCruz_subMenu_closed{
    composes:theme_santaCruz_subMenu;
    display:none;
  }

.theme_santaCruz_subMenuItem{
  font-family: 'Poppins';
  font-weight: 400;
  padding:0.3rem;
  margin:0.1rem;
  width: 10rem;
  text-align: center;

  >a {
    text-decoration: none;
    font-weight: 600;

    &:visited,
    &:active,
    &:link{
      color: $sc_red;
    }
    &:hover{
      color: $sc_yellow;
    }
  }
  
}
  .theme_santaCruz_subMenuItem_closed{
    composes:theme_santaCruz_subMenuItem;
  }
  .theme_santaCruz_subMenuItem_open{
    composes:theme_santaCruz_subMenuItem;    
  }
  .theme_santaCruz_subMenuItemActive{
    composes:theme_santaCruz_subMenuItem;
    background: $sc_red;
    >a {
      &:visited,
      &:active,
      &:link{
        color: $sc_yellow;
      }
    }
  }

// Theme Sprawl
.theme_sprawl_subMenu_open{
  grid-area: submenu;
  width: max-content;
}
.theme_sprawl_subMenu_closed{
  grid-area: submenu;
  display:none;
}

.theme_sprawl_subMenuItem_open{
  margin-bottom:0.2rem;
  background: $sp_pink_dark;
  font-family: 'AdvancedDotDigital-7';  
  text-shadow: -0.4rem 0.2rem 0.1rem rgba($slate, 0.8);
  font-size: 1vw;
  list-style-type: none;
  > a {
    padding:0.5rem 0.5rem 1.2rem 0.5rem;
    display:flex;
    color:$white;        
    &:visited,
    &:active,
    &:link{
      text-decoration: none;
    }
  }
}
// .theme_sprawl_subMenuItem_closed{

// }
.theme_sprawl_subMenuItemActive{
  background: $sp_pink;
}


// Theme Haas
.theme_haas_subMenu_open{
  // width: max-content;
  height:max-content;
  transition:height 0.3s linear;
}
.theme_haas_subMenu_closed{
  overflow: hidden;
  height:0;
  transition: height 0.3s linear;
}

.theme_haas_subMenuItem_open{
  margin-bottom:0.2rem;
  background: $slate;
  font-family: 'HelveticaNeueLTStd-Roman';
  font-size: 1.6rem;
  list-style-type: none;
  > a {
    padding:0.6rem 4rem 0.6rem 1rem;
    display:flex;
    color:$white;        
    &:visited,
    &:active,
    &:link{
      text-decoration: none;
    }
  }
}
.theme_haas_subMenuItem_closed{
  composes: theme_haas_subMenuItem_open;
}
.theme_haas_subMenuItemActive{
  box-shadow: inset 0.5rem 0 0 red;
}

@media screen and (max-width: 900px){
  .theme_sprawl_subMenu_open{
    padding-left:0.3rem;
  }
  .theme_sprawl_subMenuItem_open{
    font-size: 1.03rem;
    text-shadow: none;
  }
}