@import '../../../variables';

.pageContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100vh;
}

.contactContainer{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.tel,
.email,
.stackOverflow,
.linkedIn{
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  font-size: 2rem;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 0.5rem 0;

  
  .icon{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    
    box-sizing: border-box;
    width:4rem;
    height:4rem;
    border-radius: 50%;
    margin-right: 0.5rem;

      > svg{
        width:100%;
        height:100%;
      }
  }

  .text{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
}


// THEMES
// Art Deco Theme
.linkedIn,
.stackOverflow{
  .icon{
    padding:0.2rem;
  }
}

.theme_artDeco{
  
  .tel,
  .email,
  .stackOverflow,
  .linkedIn{
    .icon{
      border: 0.2rem solid black;

    }
  }

  .text{
    a{
      &:visited,
      &:link{
        color:black;
      }
    }
  }

}

// Original Theme
.theme_original{
  background: $slate;
  background: radial-gradient(circle, rgba(43,45,40,1) 0%, rgba(43,45,40,1) 35%, rgba(28,28,28,1) 100%);

  .tel,
  .email,
  .stackOverflow,
  .linkedIn{
    .icon{
      border: 0.2rem solid $white;

      svg{
        fill: $white;
      }

    }
  }

  .text{
    a{
      &:visited,
      &:link{
        color:$white;
      }
    }
  }
}

// SantaCruz Theme
.theme_santaCruz{
  background: $sc_red;
  color: $sc_yellow;

  .contactContainer{
    background: black;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .tel,
  .email,
  .stackOverflow,
  .linkedIn{
    .icon{
      border: 0.2rem solid $sc_yellow;

      svg{
        fill: $sc_yellow;
      }

    }
  }

  .text{
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
        
      }

      &:visited,
      &:link{
        color:$sc_yellow;
      }
    }
  }
}

// Haas Theme
.theme_haas{
  background: radial-gradient(circle, rgb(236, 236, 236) 0%, rgb(227, 227, 227) 35%, rgb(200, 200, 200) 100%);

  .text{
    font-family: 'HelveticaNeueLTStd-Roman';
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
        
      }

      &:visited,
      &:link{
        color:$slate;
      }
    }
  }
}
