@font-face {
    font-family: 'HelveticaLTStd-CondObl';
    src: url('HelveticaLTStd-CondObl.woff2') format('woff2'),
        url('HelveticaLTStd-CondObl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStd-BoldCond';
    src: url('HelveticaLTStd-BoldCond.woff2') format('woff2'),
        url('HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStd-BoldCondObl';
    src: url('HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
        url('HelveticaLTStd-BoldCondObl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStd-Cond';
    src: url('HelveticaLTStd-Cond.woff2') format('woff2'),
        url('HelveticaLTStd-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdIt';
    src: url('HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdEx';
    src: url('HelveticaNeueLTStd-BdEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdEx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BlkIt';
    src: url('HelveticaNeueLTStd-BlkIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Blk';
    src: url('HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Blk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdExO';
    src: url('HelveticaNeueLTStd-BdExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdExO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-It';
    src: url('HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('HelveticaNeueLTStd-It.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdEx';
    src: url('HelveticaNeueLTStd-MdEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdEx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-HvEx';
    src: url('HelveticaNeueLTStd-HvEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvEx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-HvExO';
    src: url('HelveticaNeueLTStd-HvExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvExO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThEx';
    src: url('HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThEx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Th';
    src: url('HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdExO';
    src: url('HelveticaNeueLTStd-MdExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdExO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLtCn';
    src: url('HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThExO';
    src: url('HelveticaNeueLTStd-ThExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThExO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThIt';
    src: url('HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLtIt';
    src: url('HelveticaNeueLTStd-UltLtIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLtCnO';
    src: url('HelveticaNeueLTStd-UltLtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCnO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

