@font-face {
  font-family: 'Karla-Bold';
  src: url('../fonts/karla/Karla-Bold.woff2') format('woff2'),
      url('../fonts/karla/Karla-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/karla/Karla-Regular.woff2') format('woff2'),
      url('../fonts/karla/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('../fonts/karla/Karla-Italic.woff2') format('woff2'),
      url('../fonts/karla/Karla-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('../fonts/karla/Karla-BoldItalic.woff2') format('woff2'),
      url('../fonts/karla/Karla-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Poppins - Headings and Menu Items
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
      url('../fonts/Poppins/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
  font-family: 'Marquisette';
  src: url('../fonts/Marquisette/MarquisetteBTNBold.woff2') format('woff2'),
      url('../fonts/Marquisette/MarquisetteBTNBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marquisette';
  src: url('../fonts/Marquisette/MarquisetteBTNLight.woff2') format('woff2'),
      url('../fonts/Marquisette/MarquisetteBTNLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marquisette';
  src: url('../fonts/Marquisette/MarquisetteBTNLightOblique.woff2') format('woff2'),
      url('../fonts/Marquisette/MarquisetteBTNLightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Limelight';
  src: url('../fonts/Limelight/Limelight-Regular.woff2') format('woff2'),
      url('../fonts/Limelight/Limelight-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('../fonts/Poiret/PoiretOne-Regular.woff2') format('woff2'),
      url('../fonts/Poiret/PoiretOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Franklin Gothic
@font-face {
  font-family: 'ITCFranklinGothicStd-BkCdIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCdIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCdIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-BkXCp';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkXCp.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkXCp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-BkCd';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCd.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DemiIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-DemiIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-DemiIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-BkCp';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCp.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-BookIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-BookIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-BookIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-Book';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-Book.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-Demi';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-Demi.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-BkCpIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCpIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-BkCpIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-Hvy';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-Hvy.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-Hvy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmCp';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCp.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-HvyIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-HvyIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-HvyIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmCpIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCpIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCpIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmXCp';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmXCp.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmXCp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmCd';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCd.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-MdCd';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-MdCd.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-MdCd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-Med';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-Med.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-Med.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmCdIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCdIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-DmCdIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-MdCdIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-MdCdIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-MdCdIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-MedIt';
  src: url('../fonts/FranklinGothic/ITCFranklinGothicStd-MedIt.woff2') format('woff2'),
      url('../fonts/FranklinGothic/ITCFranklinGothicStd-MedIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// SPRAWL
// Advance-Dot-Digital-7
@font-face {
  font-family: 'AdvancedDotDigital-7';
  src: url('../fonts/advanced-dot-digital-7/AdvancedDotDigital-7.woff2') format('woff2'),
      url('../fonts/advanced-dot-digital-7/AdvancedDotDigital-7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// Conthrax
@font-face {
  font-family: 'ConthraxSb-Regular';
  src: url('../fonts/Conthrax/ConthraxSb-Regular.woff2') format('woff2'),
      url('../fonts/Conthrax/ConthraxSb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// Fedra Sans Condensed Light
@font-face {
  font-family: 'FedraSansCondStd-Light';
  src: url('../fonts/Fedra/FedraSansCondStd-Light.woff2') format('woff2'),
      url('../fonts/Fedra/FedraSansCondStd-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// Fedra Sans Standard Bold
@font-face {
  font-family: 'FedraSansStd-Bold';
  src: url('../fonts/Fedra/bold/FedraSansStd-Bold.woff2') format('woff2'),
      url('../fonts/Fedra/bold/FedraSansStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Helvetica 
@font-face {
  font-family: 'HelveticaLTStd-CondObl';
  src: url('../fonts/Helvetica/HelveticaLTStd-CondObl.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaLTStd-CondObl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-BoldCond';
  src: url('../fonts/Helvetica/HelveticaLTStd-BoldCond.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaLTStd-BoldCond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-BoldCondObl';
  src: url('../fonts/Helvetica/HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaLTStd-BoldCondObl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-Cond';
  src: url('../fonts/Helvetica/HelveticaLTStd-Cond.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaLTStd-Cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BdIt';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-BdIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BdEx';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-BdEx.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-BdEx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BlkIt';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-BlkIt.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-BlkIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Blk';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-Blk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BdExO';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-BdExO.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-BdExO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-It';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-It.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-MdEx';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-MdEx.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-MdEx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-HvEx';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-HvEx.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-HvEx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-HvExO';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-HvExO.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-HvExO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-ThEx';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-ThEx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Th';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-Th.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-Th.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-MdExO';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-MdExO.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-MdExO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-UltLtCn';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-UltLtCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-ThExO';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-ThExO.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-ThExO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-ThIt';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-ThIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-UltLt';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-UltLt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-UltLtIt';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-UltLtIt.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-UltLtIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-UltLtCnO';
  src: url('../fonts/Helvetica/HelveticaNeueLTStd-UltLtCnO.woff2') format('woff2'),
      url('../fonts/Helvetica/HelveticaNeueLTStd-UltLtCnO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




.bold,
strong{
  font-family: 'Karla-Bold';
}

.italic,
i{
  font-family: 'Karla-Italic';
}

.bold.italic,
.boldItalic,
i > strong,
strong > i{
  font-family: 'Karla-BoldItalic';
}

h1{
  font-size:5rem;
  margin:1.6rem 0.4rem 0;
}

h2{
  font-size:4rem;
  margin:1.4rem 0.4rem 0;
}

h3{
  font-size:3.5rem;
  margin:1.2rem 0.4rem 0;
}

h4{
  font-size:3rem;
  margin:0.8rem 0.4rem 0;
}

h5{
  font-size:2.5rem;
  margin:0.8rem 0.4rem 0;
}

h6{
  font-size:2rem;
  margin:0.5rem 0.4rem 0 ;
}

p, label {
  font-size: 1.6rem;
  margin:0.4rem;
  font-weight: 400;
  font-family: 'Karla-Regular';
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Poppins';

  > strong{
    font-weight: 800;
    font-family: 'Poppins';
  }

  > em,
  > i{
    font-weight: 400;
    font-family: 'Karla-Italic';
  }

  > i > b,
  > em > b,
  > i > strong,
  > em > strong,
  > b > em,
  > b > i,
  > strong > em,
  > strong > i{
    font-weight: 800;
    font-family: 'Karla-BoldItalic';
  }
  
  sup{
    font-size:50%;
    display: inline-block;
    transform: translateY(-0.2rem)
  }

  sub{
    font-size:50%;
    display: inline-block;
    transform: translateY(0.2rem)
  }
}
