@import '../../../variables';

.projectsContainer{
  min-height:100vh;
}

.heading{
  font-weight: 100;
  margin:0;
  padding:1.5rem 2rem 1.5rem 7rem;
}


.contentContainer{
  display:grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
}
  .copyContainer{
    padding-right:1rem;
    // padding-top:1.5rem;
    > p {
      margin: 0.7rem 0 0 0;
    }
  }
  .twoColImagesContainer,
  .imagesContainer{
    padding-top:1.5rem;
    column-count: 2;
    column-gap: 0.3rem;
    align-items: flex-start;

    > img {
      width:100%;
      margin-bottom:0.3rem;
    }
  }
  .col3_imagesContainer{
    padding-top:1.5rem;
    column-count: 3;
    column-gap: 0.3rem;
    align-items: flex-start;

    > img {
      width:100%;
      margin-bottom:0.3rem;
    }
  }
  
.singleColContentContainer{
  display:grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 1fr;
}  
  .singleColImagesContainer{
    padding-top:1.5rem;
    column-count: 1;
    column-gap: 0.3rem;
  
    > img {
      width:100%;
      margin-bottom:0.3rem;
    }
  }
  
.theme_artDeco{
  .heading{
    font-family: 'limelight';
  }

}    
.theme_original{
  .heading{
    font-family: 'ITCFranklinGothicStd-DmCd';
    font-weight: normal;
    font-style: normal;
    font-size: 6rem;
    text-transform: uppercase;
    background: $slate;
    color:$white;
  }
}  
.theme_sprawl{
  .heading{
    font-family: 'ConthraxSb-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 4.4rem;
    // text-transform: uppercase;
    color:$slate;
  }
} 
.theme_haas{
  .heading{
    font-family: 'HelveticaNeueLTStd-Th';
    font-weight: normal;
    font-style: normal;
    font-size: 6rem;
    // text-transform: uppercase;
    color:$slate;
  }
}  

@media screen and (max-width: 900px){
  .contentContainer{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .imagesContainer{
    column-count: 3;
  }
  .twoColImagesContainer{
    column-count: 2;
  }
}
@media screen and (max-width: 900px){
  .heading{
    padding-left:8.4rem;
  }
}