@import '../../../variables';

.portfolioContainer{
  min-height:100vh;
}

.heading{
  padding:2.5rem 2rem 1.5rem 7rem;
  margin:0;
  font-weight: normal;
  font-style: normal;
}


.contentContainer{
  display:grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
}
  .copyContainer{
    padding-right:1rem;
    // padding-top:1.5rem;
    > p {
      margin: 0.7rem 0 0 0;
    }
  }
  .imagesContainer{
    padding-top:1.5rem;
    column-count: 2;
    column-gap: 0.3rem;
    align-items: flex-start;

    > img {
      width:100%;
      margin-bottom:0.3rem;
    }
  }


.singleColContentContainer{
  display:grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 1fr;
}  
  .singleColImagesContainer{
    padding-top:1.5rem;
    column-count: 1;
    column-gap: 0.3rem;
  
    > img {
      width:100%;
      margin-bottom:0.3rem;
    }
  }

// SIS Container
.sisContentContainer{
  display:grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
}  
  .sisRightColContainer{

  }
    .sisImagesContainer{
      padding-top:1.5rem;
      column-count: 2;
      column-gap: 0.3rem;
      align-items: flex-start;

      > img {
        width:100%;
        margin-bottom:0.3rem;
      }
    }
    .sisVideoContainer{

    }


    .responsiveImageContainer{
      padding-top:1.5rem;
      display:grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: max-content max-content;
      gap: 0.5rem;

      > img {
        width:100%;

        &:nth-of-type(3){
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }

    .inlineImageContainer{
      padding-top:1.5rem;
      display:grid;
      grid-template-columns: 1fr 4fr 6fr;
      grid-template-rows: 1fr;
      gap: 1rem;
      max-width: 100%;
      
      > img{
        
        width: 100%;
      }
    }

    .skillsImageContainer{
      padding-top:1.5rem;
      display:grid;
      grid-template-columns: 2.6fr 4fr 8.3fr;
      grid-template-rows: 1fr;
      gap: 1rem;
      max-width: 100%;
      
      > img{
        
        width: 100%;
      }
    }

    .singleImageContainer{
      padding-top:1.5rem;
      > img {
        width:100%;
      }
    }

.theme_artDeco{
  .heading{
    font-family: 'limelight';
  }

}    
.theme_original{
  .heading{
    font-family: 'ITCFranklinGothicStd-DmCd';
    padding:2rem 2rem 2rem 7rem;
    font-size: 6rem;
    text-transform: uppercase;
    margin:0;
    background: $slate;
    color:$white;
  }
}    
.theme_santaCruz{
  .heading{
    font-weight: 100;
  }
}
.theme_sprawl{
  .heading{
    font-family: 'ConthraxSb-Regular';
    font-size: 4.4rem;
    // text-transform: uppercase;
    margin:0;
    color:$slate;
  }
}    
.theme_haas{
  .heading{
    font-family: 'HelveticaNeueLTStd-Th';
    font-size: 6rem;
    // text-transform: uppercase;
    margin:0;
    color:$slate;
  }
}    

@media screen and (max-width: 600px){
  .contentContainer{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .imagesContainer{
    column-count: 4;
  }
}
@media screen and (max-width: 900px){
  .heading{
    padding:1.5rem 2rem 1.5rem 8.4rem;
  }
}
@media screen and (min-width: 900px){
  .sisImagesContainer{
    column-count: 2;
  }
}
@media screen and (min-width: 1200px){
  .sisImagesContainer{
    column-count: 2;
  }
}
@media screen and (min-width: 1600px){
  .imagesContainer{
    column-count: 3;
  }
}