@import '../../../variables';

.haasSideNavContainer{
  height:100%;
  background: linear-gradient(203deg,#fefefe,#a3a3a3 55%,#8a8a8a);
}

.menuHeading{
  font-size: 4rem;
  font-family: 'HelveticaNeueLTStd-ThEx';
  margin:0;
  padding:1rem 2rem 0 3rem;
  color:$slate;
}

.menuSubHeading{
  font-family: 'HelveticaNeueLTStd-ThExO';
  font-size:1.2rem;
  margin:0;
  padding:0 2rem 0 3rem;
  color:$slate;
}