@import '../../../variables';

.homeContainer{
  position: relative;
  display: block;
  height:100vh;
}
// Art Deco
.theme_artDeco_homeContainer{
  composes: homeContainer;
  background-image: url('../../../public/images/splashImages/BW_atlas.jpg');
  background-size:cover;
  background-position: center;
  box-shadow:inset 9.6rem 0rem 6.4rem -6.4rem #000;
}
.theme_artDeco_homeContainer .title{
  float:right;
  position: relative;
  display: block;
  margin:4rem;
  font-family: 'limelight';
  font-size: 3.5rem;
  color:var(--titleTextColour);
  padding:3rem;
  background:black;
  text-align: center;
  -webkit-clip-path: polygon(15px 0%, calc(100% - 15px) 0%, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0% calc(100% - 15px), 0% 15px);
  clip-path: polygon(15px 0%, calc(100% - 15px) 0%, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0% calc(100% - 15px), 0% 15px);
  text-decoration: underline;

  &::after{
    display: inline-block;
    content: '';
    position: absolute;
    top:0.3rem;
    right:1rem;
    bottom:0.3rem;
    left:1rem;
    border:0.2rem solid gold;
  }

  &::before{
    display: inline-block;
    content: '';
    position: absolute;
    top:1rem;
    right:0.3rem;
    bottom:1rem;
    left:0.3rem;
    border:0.2rem solid gold;
  }
}

.theme_artDeco_homeContainer .summary{
  position: absolute;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  padding:0.5rem 7rem;
  font-family: 'Poiret One';
  background: black;
  text-align: center;
  color:gold;
}

// Original
.theme_original_homeContainer{
  composes: homeContainer;
  background-image: url('../../../public/images/splashImages/MBS_splash.jpg');
  background-size:cover;
  background-position: center;
  box-shadow:inset 7rem 0 1rem -7rem #000;
}
  .theme_original_homeContainer .title{
    position: absolute;
    right:0;
    top:0;
    left:0;
    margin:0;
    background: $slate;
    color: $white;
    font-size: 6.6rem;
    font-family: 'ITCFranklinGothicStd-DmCp';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    padding: 1rem 3rem;
  }
  .theme_original_homeContainer .summary{
    position: absolute;
    right:0;
    bottom:0;
    left:0;
    margin:0;
    padding:0.5rem 7rem;
    font-family: 'ITCFranklinGothicStd-DmCp';
    font-weight: normal;
    font-style: normal;
    background: black;
    text-align: center;
    color:gold;
  }

// SantaCruz
.theme_santaCruz_homeContainer{
  composes: homeContainer;
  background-image: url('../../../public/images/splashImages/sc_home_splash.jpg');
  background-size:cover;
  background-position: bottom;
  box-shadow:inset 7rem 0 1rem -7rem #000;
}
.theme_santaCruz_homeContainer .title{
  position: absolute;
  top:7rem;
  left:0;
  margin:0;
  margin-right:4rem;
  padding:2rem 7rem 2rem 2rem;
  // background-color: $sc_yellow;
  font-family: 'Poppins';
  font-weight: 800;
  text-transform: uppercase;
  overflow: hidden;
  
  span{
    display: block;    
    z-index: 20;
    position: relative;
  }

  &:after{
    display: block;
    content:'';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:-5rem;
    background:$sc_yellow;
    z-index: 10;
    transform: skewX(333deg) translateX(-6rem);
  }
}
.theme_santaCruz_homeContainer .summary{
  position: absolute;
  right:0;
  bottom:7rem;
  margin:0;
  padding:2rem 2rem 2rem 6rem;
  // background-color: $sc_yellow;
  font-family: 'Poppins';
  font-size: 2.3rem;
  font-weight: 400;
  text-align: right;
  overflow: hidden;
  margin-left:4rem;

  span{
    display: block;    
    z-index: 20;
    position: relative;
  }

  &:after{
    display: block;
    content:'';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:-5rem;
    background:$sc_yellow;
    z-index: 10;
    transform: skewX(333deg) translateX(8rem);
  }
}

// Sprawl
.theme_sprawl_homeContainer{
  composes:homeContainer;
  background-image: url('../../../public/images/splashImages/sprawl_home_splash.jpg');
  background-size:cover;
  background-position: center;
  overflow: hidden;
}
.theme_sprawl_homeContainer .title{
  padding:2rem;
  color:$sp_pink;
  text-shadow: 0 0 1rem $sp_pink,  0 0 0.3rem $sp_pink;
  font-family: 'ConthraxSb-Regular';
  margin:0;
}
.theme_sprawl_homeContainer .summary{
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  margin:0 0 5rem 0;
  transform: translateY(-5rem);
  font-family: 'FedraSansCondStd-Light';
  color: $sp_lightblue;
  text-shadow: 0 0 1rem $sp_lightblue,  0 0 0.3rem $sp_lightblue;
  text-align: center;
  line-height: 0;
  animation: glitch1 2.5s infinite;

  &:before{
    display:block;
    content: 'Specialist Front-End & UI Software Developer';
    line-height: 0;
    animation: glitch2 2.5s infinite;
    color: #67f3da;
  }

  &:after{
    display:block;
    content: 'Specialist Front-End & UI Software Developer';
    line-height: 0;
    animation: glitch3 2.5s infinite;
    color: #f16f6f;
  }
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, 0deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 0.21deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

// Theme Haas
.theme_haas_homeContainer{
  composes: homeContainer;
  overflow: hidden;
}
.theme_haas_homeContainer .backgroundTile{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-image: url('../../../public/images/splashImages/haas_home_splash.jpg');
  background-size:cover;
  background-position: center;
  filter:grayscale(1) blur(0.7px);
  z-index: -1;
}
.theme_haas_homeContainer .title{
  margin:0 0 0 3rem;
  padding:0.5rem 2rem 0.8rem 2rem;
  position: absolute;
  bottom:14rem;
  right:0;
  width:auto;
  font-family: 'HelveticaNeueLTStd-ThEx';
  background: $slate;
  color: $white;
}
.theme_haas_homeContainer .summary{
  margin:0 0 0 3rem;
  padding:0.6rem 1.8rem 0.7rem 1.8rem;
  position: absolute;
  bottom:7.5rem;
  right:0;
  width:auto;

  font-size:2rem;
  font-family: 'HelveticaNeueLTStd-ThExO';
  text-align: right;
  background: $slate;
  color: $white;
}

// Splash Image Optimisation
@media (min-width: 1200px) and (max-width: 1800px) {
  // LARGE - 1200 width Image
  .theme_artDeco_homeContainer{
    background-image: url('../../../public/images/splashImages/BW_atlas_1200.jpg');
  }
  .theme_original_homeContainer{
    background-image: url('../../../public/images/splashImages/MBS_splash_1200.jpg');
  }
  .theme_santaCruz_homeContainer{
    background-image: url('../../../public/images/splashImages/sc_home_splash_1200.jpg');
  }
  .theme_sprawl_homeContainer{
    background-image: url('../../../public/images/splashImages/sprawl_home_splash_1200.jpg');
  }
  .theme_haas_homeContainer .backgroundTile{
    background-image: url('../../../public/images/splashImages/haas_home_splash_1200.jpg');
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  // MEDIUM - 900 width Image
  .theme_artDeco_homeContainer{
    background-image: url('../../../public/images/splashImages/BW_atlas_900.jpg');
  }
  .theme_original_homeContainer{
    background-image: url('../../../public/images/splashImages/MBS_splash_900.jpg');
  }
  .theme_santaCruz_homeContainer{
    background-image: url('../../../public/images/splashImages/sc_home_splash_900.jpg');
  }
  .theme_sprawl_homeContainer{
    background-image: url('../../../public/images/splashImages/sprawl_home_splash_900.jpg');
  }
    .theme_sprawl_homeContainer .summary{
      font-size:3.2rem;
      padding-bottom:5rem;
    }
  .theme_haas_homeContainer .backgroundTile{
    background-image: url('../../../public/images/splashImages/haas_home_splash_900.jpg');
  }
}
@media (max-width: 599px) {
  // SMALL - 600 width Image
  .theme_artDeco_homeContainer{
    background-image: url('../../../public/images/splashImages/BW_atlas_600.jpg');
  }
  .theme_original_homeContainer{
    background-image: url('../../../public/images/splashImages/MBS_splash_600.jpg');
  }
  .theme_santaCruz_homeContainer{
    background-image: url('../../../public/images/splashImages/sc_home_splash_600.jpg');
  }
  .theme_sprawl_homeContainer{
    background-image: url('../../../public/images/splashImages/sprawl_home_splash_600.jpg');
  }
    .theme_sprawl_homeContainer .summary{
      font-size:2.2rem;
      padding-bottom:5rem;
    }
  .theme_haas_homeContainer .backgroundTile{
    background-image: url('../../../public/images/splashImages/haas_home_splash_600.jpg');
  }
    
}