@import '../../../variables';

.container{
  background: $sc_black;
  height:100vh;

  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  >svg {
    padding:3rem;
    grid-row-start: 1;
    grid-row-end: 2;
    width:80%;
    max-height: 45vh;
    
    display: flex;
    justify-self: center;
  }
}