@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinnerContainer{
  // display:flex;
  box-sizing: border-box;
  position: relative;

  > img {
    width:100%;
    margin-bottom: 0.3rem;
    filter: grayscale(1);
    z-index: -1;
  }
}

  .spinner{  
    z-index: 1;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
    border: 5px solid rgb(36, 167, 255);
    border-right: 5px solid rgba(0,0,0,0);
    animation: rotating 2s linear infinite;
  }