// $lightGrey: #F5F3F2;
// $midGrey: #DFDEDC;
// $darkGrey: #56555C;
// $pink: #FDDFDE;
// $red: #F66465;
// $maroon: #AB3B3D;

// Base Colours
$yellow : #f8b908;
$orange : #ff7505;
$darkorange : #b56904;
$lightbrown : #854404;
$darkbrown : #44260a;
$slate : #2b2d28;
$blue : #3e425b;
$grey : #5d5f4a;
$beige : #dabe97;
$lightbeige : #decfb6;
$lightgrey: #cfc9c9;
$white: #eee8e8;

// Interaction Colours
$destructive : #dc0000;
$callout : #ffa501;
$complement : #fbff00;
$constructive : #00874c;
$greyscale : #6b6b6b;

// Theme Colors

// SantaCruz
$sc_red: #C70834;
$sc_yellow: #EDE100;
$sc_black: #19191b;

// Sprawl
$sp_pink: #DF1272;
$sp_pink_dark: #7D054C;
$sp_blue: #0177CE;
$sp_lightblue: #84e8ff;
$sp_blue_dark: #071841;

//Assignments
$scrollbarTrack: $grey;
$scrollbarThumb: $slate;

// PostCSS Custom Properties - Adds fallbacks for all css variables utilised
:root{
  --titleTextColour: #{$white};
}