<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />

    <!-- TODO: EJS or HANDLEBARS THIS STUFF.
    <% if (htmlWebpackPlugin.options.showHeaderMeta) { %>
    <meta name="example-conditional" content="see webpack.config.X.js for details">
    <% } %>
    -->

    <meta name="author" content="Anthony Cregan" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!--320-->
  </head>
  <body>
    <div id="application"></div>
  </body>
</html>